{% extends 'accounts/base.html' %}
{% block title %}Cambiar Contraseña{% endblock %}

{% block content %}
<div class="container py-5" style="max-width: 500px;">
  <h3 class="text-center mb-4">🔒 Cambiar Contraseña</h3>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-dark w-100 mt-3">Actualizar Contraseña</button>
  </form>

  <hr class="my-4">
  <a href="{% url 'accounts:dashboard_redirect' %}" class="btn btn-outline-secondary w-100">Volver al Dashboard</a>
</div>
{% endblock %}

